body {
	font-family: 'Lantinghei SC', Helvetica, Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', sans-serif;
	font-size: 16px;
	color: #505050;
    -webkit-font-smoothing: antialiased;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

#container {
	width: 800px;
	margin: 0 auto;
}

.bookmark {
	position: relative;
	padding: 24px 0;
    border-bottom: dashed 1px #ccc;
}

.bookmark h5 {
	font-size: 20px;
	font-weight: normal;
	margin: 0;

	white-space: nowrap; 
    width: 80%; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.bookmark .date {
	position: absolute;
	bottom: 4px;
	right: 0;
	color: #d3d3d3;
	font-style: italic;
	text-align: right;
	font-size: 14px;
}

.search {
	background: repeating-linear-gradient(
	  -45deg,
	  #F9F9F9,
	  #F9F9F9 5px,
	  #FFFFFF 5px,
	  #FFFFFF 10px
	);

    /*background: #F9F9F9;*/
    padding: 20px 20px;
}

.search input {
    width: 100%;
    height: 36px;
    font-size: 16px;
    border: 1px solid #ccc;
    padding: 4px 8px;
    box-sizing: border-box;
}

.highlight {
	background-color: #F24A98;
	color: white;
}